.create-event {
  display: flex;
  flex-direction: column;

  align-items: center;

  position: fixed;
  width: 100%;
  top: 20%;
  z-index: 1;
  background-color: rgb(128, 86, 86);
  opacity: 80%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    .form-input {
      display: flex;
      flex-direction: column;
      color: white;
    }
  }
}
