.event-card {
  background-color: #e4eef8;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 80vh;
  padding: 20px;
  border-radius: 15px;
  justify-content: space-between;
  //border: 2px solid salmon;
  .pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //padding: 20px;
    height: 30%;
    width: 90%;
    //background-image: url("../assets/event1.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    .buttons {
      width: 100%;
      //border: 2px solid brown;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    button {
      height: 30px;
      background-color: palevioletred;
      border-radius: 7px;
      border: none;
      padding: 5px;
      color: white;
      &:hover {
        background-color: blue;
      }
    }

    .poster {
      height: 100%;
      width: 90%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-top: 20px;
    .event-details {
      //border: 2px solid salmon;
      height: 100%;
      display: flex;
      flex-direction: column;
      h4 {
        position: relative;
        //top: -10px;
      }
      p {
        position: relative;
        //top: -50px;
        color: gray;
      }
    }

    button {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 7px;
      border: none;
    }
  }
  .two {
    background-image: url("../assets/event2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .three {
    background-image: url("../assets/event3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .four {
    background-image: url("../assets/event4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cascaded-images {
    display: flex;
    display: flex;
    justify-content: space-around;
    p {
      font-size: 12px;
    }
    button {
      background-color: rgb(129, 177, 129);
      border-radius: 5px;
      padding: 5px;
      border: none;
    }
  }
  .location {
    display: flex;
    height: 15%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    gap: 20px;
    img {
      height: 65px;
    }
    span {
      width: 80%;
      color: gray;
    }
  }
  .registr {
    //border: 2px solid salmon;
    width: 25rem;
    margin-top: 20px;
    height: 10%;
    background-color: #fff;
    color: blue;
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: blue;
      color: white;
      cursor: pointer;
    }
  }
}
