.photos {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  //overflow: scroll;
  height: 40%;
  //border: 2px solid black;
  .photo {
    img {
      width: 90px;
      
    }
  }
}