.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(134, 133, 133);
  border-radius: 12px;
  padding: 1rem;
  min-width: fit-content;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;

    width: 100%;
    border-bottom: 2px solid rgb(240, 240, 240);
    border-radius: 12px 12px 0 0;

    h2 {
      color: white;
    }

    button {
      border: none;
      color: red;
      cursor: pointer;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    button {
      background-color: rgb(29, 138, 29);
    }

    .form-input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      font-size: 1rem;

      input,
      textarea {
        flex: 1;
        padding: 0.5rem;
        border: none;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
      }
    }
  }
}
