.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  width: 50%;
  top: 23.5%;
  left: 25%;
  z-index: 2000;
  background-image: url("../../assets/HeaderImg.jpg");
  //background-color: red;
  opacity: 100%;
  animation: unfold 0.9s forwards;
  box-shadow: 10px 10px 8px black;

  .comment-modal {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    //opacity: 70%;
    box-shadow: 10px 10px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-title {
      display: flex;
      width: 90%;
      color: black;
      font-weight: bold;
      text-decoration: underline;
      justify-content: space-between;
      margin: 20px;
      height: 20%;
      border: 2px solid red;
      button {
        background-color: red;
        color: black;
        border-radius: 50%;
        width: 20px;
      }
    }
    .comment-form {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      height: 30vh;
      margin-bottom: 20px;
      gap: 20%;

      .form-input {
        display: flex;
        //   border: 2px solid red;
        flex-direction: column;
        color: black;
        font-weight: bold;
        width: 70%;
        textarea {
          border-radius: 10px;
          background-color: burlywood;
          opacity: 100%;
          border: none;
          width: 100%;
          padding-top: 10px;
          padding-left: 8px;
        }
      }
      button {
        border-radius: 7px;
        height: 30px;
        width: 50%;
        color: bold;
        //border: 2px solid red;
        :hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
}
