.groups-page {
  // //border: 2px solid black;
  // display: flex;
  // flex-direction: column;
  // flex: 5;
  // overflow-y: scroll;
  // //margin: 20px;
  // padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex: 5.7;
  //border: 2px solid green;
  margin-left: 15%;
  margin-right: 15%;
  //overflow-y: scroll;
  //background-color: #e3eefa;

  .top {
    padding-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .title {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      border-bottom: 1px solid gray;
      .buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          gap: 5rem;
          .search {
            height: 30px;
            border-radius: 10px;
            padding: 5px;
          }
          img {
            height: 20px;
          }
        }
        button {
          background-color: blue;
          color: white;
          display: flex;
          align-items: center;
          padding: 10px;
          font-weight: bold;
          border-radius: 10px;
          border: none;
        }
      }
    }
    .suggested {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //padding-left: 20px;
      padding-right: 20px;
      .text {
        display: flex;
        flex-direction: column;
        height: 4rem;
        p {
          position: relative;
          // top: -40px;
          color: gray;
        }
      }
      span {
        color: blue;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
  // .images {
  //   padding-left: 20px;
  //   padding-right: 20px;

  //   background-color: #fff;
  //   display: flex;
  //   justify-content: space-between;
  //   margin-right: 20px;
  //   border-bottom-left-radius: 10px;
  //   border-bottom-right-radius: 10px;
  //   .card {
  //     display: flex;
  //     flex-direction: column;
  //     width: 23rem;
  //     height: 17rem;
  //     margin-bottom: 20px;
  //     padding: 20px;
  //     border-radius: 10px;
  //     background-color: #ebf3fa;
  //     .details {
  //       //border: 2px solid salmon;
  //       display: flex;
  //       height: 20%;
  //       align-items: center;
  //       justify-content: space-between;
  //       .details-left {
  //         display: flex;
  //         align-items: center;
  //         gap: 10px;
  //         .logo {
  //           img {
  //             height: 40px;
  //           }
  //         }
  //         .group-name {
  //           height: 5rem;
  //           //border: 1px solid black;
  //           display: flex;
  //           flex-direction: column;
  //           span {
  //             display: flex;
  //             align-items: center;
  //             position: relative;
  //             gap: 5px;
  //             top: -40px;
  //             display: flex;
  //             img {
  //               height: 10px;
  //             }
  //           }
  //         }
  //       }
  //       span {
  //         img {
  //           height: 20px;
  //         }
  //       }
  //     }
  //     .image {
  //       img {
  //         width: 100%;
  //         height: 100%;
  //         border-radius: 10px;
  //       }
  //     }
  //     .bottom {
  //       display: flex;
  //       justify-content: center;
  //       margin-top: 10px;
  //       height: 8%;
  //       button {
  //         width: 25%;
  //         color: blue;
  //         font-weight: bold;
  //         border: none;
  //         border-radius: 5px;
  //         background: #fff;
  //       }
  //     }
  //   }
  // }
  // .recent-activity {
  //   display: flex;
  //   flex-direction: column;

  //   .ra-body {
  //     padding-left: 20px;
  //     padding-right: 20px;
  //     display: flex;
  //     flex-direction: column;

  //     margin-right: 20px;
  //     border-radius: 10px;
  //     background-color: #fff;
  //     .handle {
  //       display: flex;
  //       align-items: center;
  //       height: 20%;
  //       //border: 2px solid salmon;
  //       gap: 10px;
  //       img {
  //         height: 50px;
  //         width: 50px;
  //       }
  //       .handle-details {
  //         h4 {
  //           position: relative;
  //           bottom: -20px;
  //         }
  //         span {
  //           display: flex;
  //           align-items: center;
  //           position: relative;
  //           top: -20px;
  //           img {
  //             height: 20px;
  //             width: 20px;
  //           }
  //         }
  //       }
  //     }
  //     .post-body {
  //       //border: 2px solid black;
  //       color: gray;
  //       font-weight: 550;
  //     }
  //   }
  // }
  // @media screen and (max-width: 425px) {
  //   .top {
  //     .title {
  //       flex-direction: column;
  //       .buttons {
  //         display: flex;
  //         flex-direction: column-reverse;
  //         button {
  //           width: 100%;
  //           justify-content: center;
  //         }
  //         span {
  //           width: 100%;
  //           margin-bottom: 10px;
  //           display: flex;
  //           align-items: center;
  //           input {
  //             width: 100%;
  //             height: 26px;
  //             border: 1px solid gray;
  //             border-right: none;
  //             border-top-left-radius: 10px;
  //             border-bottom-left-radius: 10px;
  //           }
  //           img {
  //             border: 1px solid gray;
  //             height: 28px;
  //             border-left: none;
  //             border-top-right-radius: 10px;
  //             border-bottom-right-radius: 10px;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .images {
  //     flex-direction: column;
  //     .card {
  //       width: 300px;
  //       .bottom {
  //         button {
  //           width: 100%;
  //           height: 30px;
  //           margin-top: 20px;
  //         }
  //       }
  //     }
  //   }
  // }
}
