.notifs-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 20px;
  z-index: 1;
  //background: none;
  //background-color: black;
  //opacity: 80%;

  .notifs {
    background-color: white;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    //position: absolute;
    z-index: 2;
    width: 30vw;
    height: 90%;
    overflow-y: scroll;
    justify-content: center;

    border-radius: 10px;
    .heading {
      display: flex;
      justify-content: space-between;
      h2 {
        margin-top: 200px;
        margin-left: 20px;
        border-bottom: 1px solid black;
      }
      button {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-top: 200px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: red;
        color: white;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      span {
        display: flex;
        justify-content: center;
        width: 90px;
        background: lightblue;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        color: grey;
        font-weight: bold;
      }
    }
    .notif {
      display: flex;
      margin-left: 20px;
      align-items: center;
      gap: 10px;
      img {
        height: 40px;
      }
      h4 {
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
