.timeline {
  // display: flex;
  // flex: 5.7;
  // flex-direction: column;
  // //border: 2px solid red;
  // margin: 20px;
  // padding-left: 20px;
  // padding-right: 20px;
  // gap: 10px;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 5.7;
  //border: 2px solid green;
  margin-left: 15%;
  margin-right: 15%;
  //overflow-y: scroll;
  //background-color: #e3eefa;
  .stories-wrap {
    display: flex;
    flex-direction: column;
    .stories {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .postLists {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid blue;
    .posts-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      border: 2px solid black;
    }
  }
  @media screen and (max-width: 425px) {
    .newpost {
      .options {
        display: flex;
        //justify-content: space-evenly;
        .option {
          //border: 2px solid red;
          width: 20px;
          align-items: center;
          p {
            display: none;
          }
        }
      }
    }
    .post {
      .images {
        display: flex;
        flex-direction: column;
        img {
          width: 90%;
          padding-left: 10px;
        }
        .img1 {
          margin-bottom: 10px;
        }
      }
      .impressions {
        //border: 2px solid salmon;
        .impression {
          p {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
