.contacts {
  display: flex;
  flex-direction: column;
  //border: 2px solid blue;
  height: 60%;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    font-size: 12px;
    color: gray;
  }
  span {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 20px;
    color: blue;
  }
  .contact-list {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //overflow-y: scroll;

    .contact {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      //border: 2px solid yellow;
      height: 40px;
      p {
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
