.groups {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 15px;
      color: gray;
    }
    span {
      font-size: 12px;
      color: blue;
    }
  }
  .group-list {
    display: flex;
    flex-direction: column;
    .group {
      display: flex;
      align-items: center;
      gap: 10%;
      img {
        height: 30px;
      }
      p {
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}
