.header {
  background-image: url("../assets/HeaderImg.jpg");
  object-fit: cover;
  height: 215px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  // position: relative;
  .form-container {
    // position: relative;
    // top: -90%;
    // left: 0%;
    // transform: translate(-50%, -50%);
    // height: 100vh;
    background-color: rgb(133, 24, 24);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 10;
  }
  // margin-right: 10px;
  @media screen and (max-width: 425px) {
    margin-right: 10px;
    //margin-left: 5px;
    //border: 2px solid salmon;
  }
  .edit {
    cursor: pointer;
    background-color: white;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
}
