.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  // padding-right: 10px;
  height: 16rem;
  //border: 2px solid red;
  border-radius: 10px;
}