.maincontent {
  display: flex;
  flex-direction: column;
  flex: 5.7;
  //border: 2px solid green;
  margin-left: 20px;
  margin-right: 20px;
  //overflow-y: scroll;
  //background-color: #e3eefa;
}
