.newpost {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  //border: 2px solid aqua;
  border-radius: 10px;
  .input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9d9e0;
    gap: 20px;
    margin: 10px;
    padding-bottom: 10px;
    input {
      height: 30px;
      width: 87%;
      padding: 10px;
      background-color: #f8fafc;
      border-radius: 10px;
      border: none;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: lightblue;
      :hover {
        cursor: pointer;
      }
    }
  }
  .options {
    display: flex;
    justify-content: space-around;
    .option {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #94a3b8;
      font-weight: bold;
      font-size: 18px;
      img {
        height: 30px;
      }
    }
  }
}
