// .images {
//   padding-left: 20px;
//   padding-right: 20px;
//   border: 2px solid black;
//   background-color: #fff;
//   display: flex;
//   justify-content: space-between;
//   margin-right: 20px;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
.group1{
}
.card {
  //border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 21rem;
  height: 17rem;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebf3fa;
  .details {
    //border: 2px solid salmon;
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    .details-left {
      display: flex;
      align-items: center;
      gap: 10px;
      .logo {
        img {
          height: 40px;
        }
      }
      .group-name {
        height: 5rem;
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        span {
          display: flex;
          align-items: center;
          position: relative;
          gap: 5px;
          //top: -40px;
          display: flex;
          img {
            height: 10px;
          }
        }
      }
    }
    span {
      img {
        height: 20px;
      }
    }
  }
  .image {
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 8%;
    button {
      width: 25%;
      color: blue;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      background: #fff;
    }
  }
}
// }
